* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps */
body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin-left: 20px; /* Utilisation de pixels pour la marge gauche */
    margin-right: 20px; /* Utilisation de pixels pour la marge droite */
    margin-bottom: 50px; /* Utilisation de pixels pour la marge basse */
}

/* Style pour la section article */
.article {
    background-color: #fff;
    padding: 20px; /* Utilisation de pixels pour le rembourrage */
    margin: 20px; /* Utilisation de pixels pour la marge */
}

h1 {
    margin-bottom: 30px; /* Utilisation de pixels pour la marge basse */
    font-family: Impact;
    color: red;
}

p.introduction {
    font-size: 22px; /* Utilisation de pixels pour la taille de police */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: justify;
}

p.article {
    font-size: 25px; /* Utilisation de pixels pour la taille de police */
    font-family: 'Segoe UI';
}

p.conclusion {
    font-size: 22px; /* Utilisation de pixels pour la taille de police */
    font-family: 'Times New Roman', serif;
    font-style: italic;
    text-align: justify;
    margin-top: 30px; /* Utilisation de pixels pour la marge haute */
    margin-bottom: 100px; /* Utilisation de pixels pour la marge basse */
}

h1.big-title {
    color: #f0C300;
    margin-top: 20px; /* Utilisation de pixels pour la marge haute */
}

img {
    max-width: 80%;
    height: auto;
}

img.article {
    width: 70%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.end {
    padding-bottom: 5%;
}