/*Importation*/
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap');

/*Style général*/
main {
  font-family: Arial, sans-serif;
  margin-left: 15%;
  margin-right: 2%;
  padding: 0;
  background-color: #f0f4f8;
  color: #333;
}

/*------------------------------> Rubriques principales <-------------------------------------*/
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);    /*Créer les deux colonnes de rubriques*/
  gap: 10px;                               /*Réduit l'espacement entre les cards*/
  padding: 10px;
}

/*------------------------------> Les cards --------------------------------------------------*/
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 10px;
}
/*Petit effet de survol*/
.card:hover {
  transform: translateY(-6px) scale(1.01); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.card img {
  width: 40%;
  border-radius: 8px 8px 0 0;
}
.card h2 {
  color: #2b39a2;
  font-size: 2em;
  margin: 10px 0 5px;
}
.card p {
  font-size: 1em;
  line-height: 1.2;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Emploi de Media Queries pour la réactivité*/
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

/*-------------------------------> Le footer <------------------------------------------------*/
footer {
  background-color: #2b39a2;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.8em;
}

/*Ajustement pour l'espace sous le footer*/
.space-below-footer {
  height: 100px;
}
