/*Les importations de polices :*/
@import url(https://fonts.google.com/specimen/Montserrat?query=monts);
@import url(https://fonts.google.com/specimen/Abril+Fatface?query=abril&sidebar.open&selection.family=Abril+Fatface);

/*-------------------------> Initialisations de base du site <--------------------------------*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}

footer {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-top: auto;
}

/* S'assure que la section principale occupe tout l'espace restant */
main {
    flex: 1;
}

/*Initialisation de la police de base :*/
* {
    font-family: 'Montserrat', sans-serif;
}

/*Initialisation de la fonction scroll en mode smooth :*/
html {
    scroll-behavior: smooth;
}

/*Initialisation de la marge de départ :*/
body {
    margin: 0;
}

/*Tête de page :*/
header.header {
    display: flex;                                  
    align-items: center;                            
    justify-content: space-between;                 
    padding: 10px;                                  
}

/*Taille de l'image :*/
header.header img {                                 
    width: 240px;
}

/*L'image de fond :*/
section.top-page {
    background: url('../images/background.jpeg');
    background-size: cover;
    padding: 25px;
}

/*-------------------------------> Page de bienvenue <----------------------------------------*/
.landing-page {
    padding: 0px 30px;
}
.big-title {
    color: white;
    font-size: 40px;
    font-family: 'Abril FatFace', cursive;
    margin:0px;
}
.scroll-down {
    color:  #ff8000;
    font-size: 20px; 
    text-decoration: none;
    position: relative ;top:10px;
    margin-top: 10px;
}

/*menu de navigation :*/
nav.nav {
    display: flex;
    align-items: center;
}
nav.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}
nav.nav li a {
    color: white;
    margin-right: 70px; 
    font-size: 30px;
}

/*Services :*/
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
}

/*Les 3 cartes :*/
.card {
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); 
    padding: 10px; 
    padding-bottom: 0%;
    border-radius: 15px;
    background-color: #4D5F87; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease; 
    position: relative;
    overflow: hidden; 
}
.card img {
    width: 50%; 
    height: auto; 
    display: block; 
}
.card-content {
    padding-bottom: 10px; 
    transition: padding 0.3s ease; 
}

.lien {
    color: #fd8000;
}

/*Effet de survol des cartes :*/
.card:hover .card-content {
    padding-bottom: 20px; 
}
.card-info {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}
.card:hover .card-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
strong {
    text-align: center;
    font-size: 22px;
}
.services > div {
    flex: 0 0 calc(30% - 20px); 
    margin: 10px; 
}
.services > div img {
    max-width: 50%; 
    display: block; 
    margin: auto; 
    margin-bottom: 10px; 
}
.services > div p {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px; 
}
.services > div p {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px; 
    font-size: 18px; 
}
.services > div p:last-child {
    margin-bottom: 5px;
}

/*L'essentiel de la page :*/
.section-title {
    font-size: 40px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
    margin-left: 30px; 
    line-height: 1;
}
.section-title::before {
    content: "";
    position: absolute;
    background-color: #ff8000;
    width: 340px;
    height: 7px;
    bottom: -10px;
    vertical-align: top;
}

/* Styles des boutons */
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    padding: 10px;
    border-radius: 15px;
    background-color: #4D5F87;
    text-decoration: none;
    color: white;
    width: calc(33.33% - 20px); /* Ajustez la largeur des boutons */
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.button p {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-size: 18px;
    text-align: center;
}

.button-info {
    list-style: none;
    padding: 0;
}

.button strong {
    text-align: center;
    font-size: 22px;
}

.services {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.lien {
    color: #fd8000;
}

/* Supprimez les effets de survol */
.button-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: none;
}

@media (max-width: 768px) {
    .button {
        width: 25%;
        margin: 10px auto;
    }
}

.int {
    width: 100%;
}
.illu {
    width: 100%;
}
/*Footer :*/
footer {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); 
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-top: 60px;
}

/*-----------------------------------> Responsive Design <------------------------------------*/
@media (max-width: 768px){
    /* Tête de page */
    header.header {
        flex-direction: column;
        align-items: flex-start;
    }

    header.header img {
        width: 180px;
        margin-bottom: 10px;
    }

    nav.nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav.nav li a {
        color: white;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    /* Services */
    .services > div {
        flex: 0 0 calc(100% - 20px);
    }}