/* Importations de polices */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Style général de la page Jeux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Grille de mise en page */
.container {
    display: grid;
    grid-template-columns: 1fr; /* Une colonne par défaut pour petits écrans */
    gap: 1em; /* Espace entre les éléments */
}

/* Les sections */
main {
    padding: 1em;
}

section.game {
    background-color: #fff;
    margin: 1em 0;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Titres et textes */
section.game h2 {
    margin-top: 0;
    color: red;
    font-size: 1em;
}

.com {
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-size: 0.7em;
    margin: 1em 0; /* Ajusté pour plus d'espace */
}

p {
    font-size: 0.8em; /* Taille de police ajustée */
    line-height: 1.5; /* Espacement des lignes */
    margin: 0 0 1em 0; /* Ajustement des marges */
}

/* Images */
section.game img {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 315px;
    border-radius: 8px;
    box-shadow: 7px 11px 30px 10px rgba(57, 57, 57, 0.83);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (min-width: 768px) {
    /* Mise en page pour écrans moyens et grands */
    .container {
        grid-template-columns: 1fr 1fr; /* Deux colonnes pour écrans moyens */
    }
}

@media (min-width: 1024px) {
    /* Mise en page pour grands écrans */
    .container {
        grid-template-columns: 1fr 1fr 1fr; /* Trois colonnes pour grands écrans */
    }
}
