/* Style général */
/* Structure principale */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #333;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




/* Header */
header {
    background: #0f056b; 
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Contenu principal du header */
.header-content h1 {
    margin: 0;
    font-size: 2.5rem;
}

.header-content p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* Logo */
.profile-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px; 
    right: 10px; 
    border: 2px solid white; 
}

.profile-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/* Menu de navigation */
nav {
    text-align: center;
    background-color: #333;
}
.menu, .dropdown-content {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0 1rem;
    position: relative;
}
.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: block;
    transition: background 0.3s, color 0.3s;
}
.menu a.active {
    background-color: #087f23;
    border-radius: 5px;
}
.menu a:hover {
    background-color: #087f23;
}




/* Menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d302e;
    min-width: 200px;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s ease;
}
.dropdown-content li {
    text-align: left;
}
.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
    font-size: 0.9rem;
}
.dropdown-content a:hover {
    background-color: #087f23;
}



/* Chapters */
.dropdown-content a span.chapter-number {
    font-weight: bold;
    display: block;
    text-decoration: none;
}
.dropdown-content a span.chapter-title {
    font-size: 0.8rem;
    color: #dcdcdc;
}
.title {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: Impact;
    font-weight: 50;
    font-size: 5em;
}
h2 {
    margin-left: 2em;
    font-family: Impact;
    font-weight: 10;
    font-size: 2em;
}
.text {
    text-align: justify;
    font-family: 'Georgia', serif;
    font-size: 1em;
    line-height: 1.6;
    color: #333333;
    margin: 4em;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    height: 60px; /* Fixe la hauteur pour le calcul dynamique */
}